:root {
  --primary: #2684FF;
  --primary-75: #4C9AFF;
  --primary-50: #B2D4FF;
  --primary-25: #DEEBFF;
  --danger: #DE350B;
  --danger-light: #FFBDAD;
  --neutral-00: hsl(0, 0%, 100%);
  --neutral-05: hsl(0, 0%, 95%);
  --neutral-10: hsl(0, 0%, 90%);
  --neutral-20: hsl(0, 0%, 80%);
  --neutral-30: hsl(0, 0%, 70%);
  --neutral-40: hsl(0, 0%, 60%);
  --neutral-50: hsl(0, 0%, 50%);
  --neutral-60: hsl(0, 0%, 40%);
  --neutral-70: hsl(0, 0%, 30%);
  --neutral-80: hsl(0, 0%, 20%);
  --neutral-90: hsl(0, 0%, 10%);
  --border-radius: 4px;
  --base-unit: 4px;
  --control-height: 38px;
  --menu-gutter: calc(var(--base-unit) * 2);
}
