.tf-multi-value-remove {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-left: var(--base-unit);
  padding-right: var(--base-unit);
  box-sizing: border-box;
  border-radius: calc(var(--border-radius) / 2);
}

.tf-multi-value-remove:active {
  background-color: var(--danger-light);
}

.tf-multi-value-remove:hover:not(:active) {
  background-color: var(--danger-light);
  color: var(--danger);
}
