.tf-option {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: default;
  display: block;
  font-size: inherit;
  padding: 8px 12px;
  user-select: none;
  width: 100%;
}

.tf-option:active {
  background-color: var(--primary50);
}

.tf-option.hover:not(:active) {
  background-color: var(--primary25);
}

.tf-option.disabled {
  background-color: transparent;
  color: var(--neutral20);
}

.tf-option.selected {
  background-color: var(--primary);
  color: var(--neutral0);
}
